@font-face {
  font-family: Archivo;
  font-display: swap;
  src: url("../fonts/Archivo-Bold.woff2") format("woff2"), url("../fonts/Archivo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Archivo;
  font-display: swap;
  src: url("../fonts/Archivo-Black.woff2") format("woff2"), url("../fonts/Archivo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Archivo;
  font-display: swap;
  src: url("../fonts/Archivo-ExtraLight.woff2") format("woff2"), url("../fonts/Archivo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Archivo;
  font-display: swap;
  src: url("../fonts/Archivo-ExtraBold.woff2") format("woff2"), url("../fonts/Archivo-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Archivo;
  font-display: swap;
  src: url("../fonts/Archivo-Regular.woff2") format("woff2"), url("../fonts/Archivo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Archivo;
  font-display: swap;
  src: url("../fonts/Archivo-Light.woff2") format("woff2"), url("../fonts/Archivo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Archivo;
  font-display: swap;
  src: url("../fonts/Archivo-Medium.woff2") format("woff2"), url("../fonts/Archivo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Archivo;
  font-display: swap;
  src: url("../fonts/Archivo-SemiBold.woff2") format("woff2"), url("../fonts/Archivo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: ArchivoBlack;
  font-display: swap;
  src: url("../fonts/ArchivoBlack-Regular.woff2") format("woff2"), url("../fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Archivo;
  font-display: swap;
  src: url("../fonts/Archivo-Thin.woff2") format("woff2"), url("../fonts/Archivo-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
.preload {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;
  position: fixed;
  z-index: 10;
}
.preload .block {
  margin-bottom: 45px;
  position: relative;
}
.preload .block #counter {
  font-weight: 600;
  font-size: 370px;
  line-height: 434px;
  color: rgba(100, 60, 90, 0.2);
  text-transform: uppercase;
}
.preload .block #figure {
  position: absolute;
  bottom: -3px;
  background-size: cover;
  z-index: 2;
}
.preload .block .headphone {
  width: 204px;
  height: 279px;
  left: calc(50% - 102px);
  filter: drop-shadow(-15px 10px 20px rgba(20, 4, 24, 0.400514));
  background-image: url("../assets/img/headphone.png");
}
.preload .block .camera {
  width: 262px;
  height: 287px;
  left: calc(50% - 131px);
  filter: drop-shadow(-15px 10px 20px rgba(20, 4, 24, 0.38833));
  transform: rotate(-2deg);
  background-image: url("../assets/img/camera.png");
}
.preload .block .star {
  width: 330px;
  height: 330px;
  left: calc(50% - 165px);
  filter: drop-shadow(-15px 10px 20px rgba(20, 4, 24, 0.400514));
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-image: url("../assets/img/star.png");
}
.preload .loading {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #F9A608;
  font-family: "Archivo", sans-serif;
}

.hidden_preload {
  animation-duration: 1s;
  animation-name: slide_out;
  height: 0;
}

@keyframes slide_out {
  from {
    height: 100vh;
  }
  to {
    height: 0;
  }
}
section.main_parallax {
  background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
  padding: 25px 56px 0 55px;
  overflow: hidden;
  cursor: none;
}
section.main_parallax .gradient {
  position: absolute;
  height: 132%;
  width: 82%;
  left: 9%;
  top: -16%;
  background: radial-gradient(55.53% 33.64% at 50% 50%, rgba(255, 125, 150, 0.287806) 0%, rgba(245, 64, 137, 0.00004) 100%);
  mix-blend-mode: normal;
  opacity: 0.75;
  z-index: 1;
  border-radius: 50%;
}
section.main_parallax .main_title {
  position: relative;
  width: 100%;
  height: calc(100% - 26px);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
  z-index: 3;
}
section.main_parallax .main_title .parallax_base {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  width: auto;
  height: auto;
  text-align: center;
  margin: 100px;
  transition: all 2s cubic-bezier(0.1, 0.7, 1, 0.1);
}
section.main_parallax .main_title .parallax_base span {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: #F9A608;
  text-transform: uppercase;
}
section.main_parallax .main_title .parallax_base h1 {
  font-family: ArchivoBlack, sans-serif;
  font-weight: 600;
  font-size: 170px;
  line-height: 199px;
  color: #FFEFF6;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translateZ(40px);
  -moz-transform: translateZ(40px);
}
section.main_parallax .main_title .parallax_base img {
  margin-top: -104px;
  width: 650px;
  -webkit-transform: translateZ(120px);
  -moz-transform: translateZ(120px);
  filter: drop-shadow(24px -30px 20px rgba(97, 8, 15, 0.456102));
}
section.main_parallax .main_animations {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
section.main_parallax .main_headphone {
  position: absolute;
  top: 14%;
  left: 17%;
  width: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  animation-name: headphone;
}
@keyframes headphone {
  0% {
    top: 14%;
    left: 17%;
  }
  30% {
    top: 10%;
    left: 19%;
  }
  68%, 72% {
    top: 7%;
    left: 24%;
  }
  100% {
    top: 14%;
    left: 17%;
  }
}
section.main_parallax .main_camera {
  position: absolute;
  bottom: 13%;
  left: 7%;
  width: 16%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  animation-name: camera;
}
@keyframes camera {
  0% {
    bottom: 13%;
    left: 7%;
  }
  30%, 40% {
    bottom: 7%;
    left: 4%;
  }
  68%, 72% {
    bottom: 8%;
    left: 8%;
  }
  100% {
    bottom: 13%;
    left: 7%;
  }
}
section.main_parallax .main_boll1 {
  position: absolute;
  top: 25%;
  left: 12%;
  width: 1.53%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  mix-blend-mode: normal;
  opacity: 0.48;
  filter: blur(6.7957px);
  animation-name: boll1;
}
@keyframes boll1 {
  0% {
    top: 25%;
    left: 12%;
  }
  30%, 40% {
    top: 23%;
    left: 10%;
  }
  68%, 72% {
    top: 25%;
    left: 14%;
  }
  100% {
    top: 27%;
    left: 14%;
  }
}
section.main_parallax .main_ring_violet {
  position: absolute;
  top: 15%;
  left: 51%;
  width: 5.1%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  mix-blend-mode: normal;
  opacity: 0.78;
  filter: blur(6.7957px);
  transform: rotate(-28deg);
  animation-name: ring_violet;
}
@keyframes ring_violet {
  0% {
    top: 15%;
    left: 51%;
  }
  30%, 40% {
    top: 17%;
    left: 53%;
    filter: blur(1px);
  }
  68%, 72% {
    top: 13%;
    left: 49%;
    filter: blur(6.7957px);
  }
  100% {
    top: 15%;
    left: 51%;
  }
}
section.main_parallax .main_youtube {
  position: absolute;
  top: 6.8%;
  right: 16.3%;
  width: 14.3%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  filter: blur(0.67957px) drop-shadow(-24px -10px 20px rgba(97, 9, 8, 0.17));
  animation-name: youtube;
}
@keyframes youtube {
  0% {
    top: 6.8%;
    right: 16.3%;
  }
  30%, 40% {
    top: 5%;
    right: 18%;
  }
  68%, 72% {
    top: 8%;
    right: 18%;
  }
  100% {
    top: 6.8%;
    right: 16.3%;
  }
}
section.main_parallax .main_boll2 {
  position: absolute;
  top: 44%;
  right: 8.1%;
  width: 1%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  filter: blur(13.5914px);
  animation-name: boll2;
}
@keyframes boll2 {
  0% {
    top: 44%;
    right: 8.1%;
  }
  30%, 40% {
    top: 43%;
    right: 5%;
  }
  50% {
    top: 44%;
    right: 4%;
  }
  68%, 72% {
    top: 45%;
    right: 5%;
  }
  100% {
    top: 44%;
    right: 8.1%;
  }
}
section.main_parallax .main_ring {
  position: absolute;
  bottom: 12.6%;
  right: 8.2%;
  width: 8.3%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  filter: drop-shadow(-24px -10px 20px rgba(97, 9, 8, 0.174088));
  transform: rotate(-5deg);
  animation-name: ring;
}
@keyframes ring {
  0% {
    bottom: 12.6%;
    right: 8.2%;
  }
  30%, 40% {
    bottom: 14%;
    right: 10%;
  }
  68%, 72% {
    bottom: 16%;
    right: 12%;
  }
  100% {
    bottom: 12.6%;
    right: 8.2%;
  }
}
section.main_parallax .main_heart_violet {
  position: absolute;
  bottom: 17.8%;
  right: 32.8%;
  width: 4%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  mix-blend-mode: normal;
  opacity: 0.74;
  filter: blur(8.15485px);
  transform: rotate(-25deg);
  animation-name: heart_violet;
}
@keyframes heart_violet {
  0% {
    bottom: 17.8%;
    right: 32.8%;
  }
  30%, 40% {
    bottom: 19%;
    right: 29%;
  }
  50% {
    filter: blur(2px);
    opacity: 1;
    bottom: 17.8%;
    right: 27%;
  }
  68%, 72% {
    bottom: 15%;
    right: 29%;
    filter: blur(8.15485px);
    opacity: 0.74;
  }
  100% {
    bottom: 17.8%;
    right: 32.8%;
  }
}
section.main_parallax .main_note {
  position: absolute;
  bottom: 7.9%;
  left: 26.9%;
  width: 4.7%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  filter: drop-shadow(-24px -10px 20px rgba(97, 9, 8, 0.174088));
  animation-name: note;
}
@keyframes note {
  0% {
    bottom: 7.9%;
    left: 26.9%;
  }
  30%, 40% {
    bottom: 10%;
    left: 26.9%;
  }
  68%, 72% {
    bottom: 10%;
    left: 30%;
  }
  100% {
    bottom: 7.9%;
    left: 26.9%;
  }
}
section.main_parallax .main_statistics {
  position: absolute;
  bottom: 6.75%;
  left: 50%;
  margin-left: -98px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
}
section.main_parallax .main_statistics .label {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #643C5A;
  margin-bottom: 2px;
}
section.main_parallax .main_statistics .value {
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: #F6F6F6;
}
section.main_parallax .main_statistics .viewers {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #F6F6F6;
}
section.main_parallax .cursor {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #D2132A;
  transition-duration: 0.5s;
  transition-property: width, height, font-size;
  transition-timing-function: ease-in-out;
  font-size: 0;
  z-index: 10;
}
section.main_parallax .hover_contact {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFEFF6;
  font-size: 12px;
}
section.main_parallax .hover_contact:after {
  content: "contact";
  text-transform: uppercase;
}
section.main_parallax .hover_menu {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFEFF6;
  font-size: 12px;
}
section.main_parallax .hover_menu:after {
  content: "menu";
  text-transform: uppercase;
}
section.main_parallax .hover_floaat {
  width: 30px;
  height: 30px;
  background: #FFEFF6;
}
@media screen and (max-width: 1200px) {
  section.main_parallax .main_title .parallax_base {
    margin: 60px;
  }
  section.main_parallax .main_title .parallax_base h1 {
    font-weight: 600;
    font-size: 100px;
    line-height: 120px;
    color: #FFEFF6;
  }
  section.main_parallax .main_title .parallax_base img {
    margin-top: -64px;
    width: 400px;
  }
}
@media screen and (max-width: 800px) {
  section.main_parallax .main_title .parallax_base {
    margin: 40px 40px 100px;
  }
  section.main_parallax .main_title .parallax_base h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #FFEFF6;
  }
  section.main_parallax .main_title .parallax_base img {
    margin-top: -20px;
    width: 200px;
  }
  section.main_parallax .main_statistics {
    position: absolute;
    bottom: 4%;
    margin-left: -69px;
    gap: 6px;
  }
  section.main_parallax .main_statistics .label {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #643C5A;
  }
  section.main_parallax .main_statistics .value {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F6F6F6;
  }
  section.main_parallax .main_statistics .viewers {
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    color: #F6F6F6;
  }
}
@media screen and (max-width: 400px) {
  section.main_parallax {
    padding: 16px;
  }
  section.main_parallax .main_title .parallax_base {
    margin: 40px 40px 100px;
  }
  section.main_parallax .main_title .parallax_base h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
    color: #FFEFF6;
  }
  section.main_parallax .main_title .parallax_base img {
    margin-top: -30px;
    width: 200px;
  }
  section.main_parallax .main_headphone {
    top: 30%;
    width: 15%;
  }
  @keyframes headphone {
    0% {
      top: 30%;
      left: 17%;
    }
    30% {
      top: 20%;
      left: 19%;
    }
    68%, 72% {
      top: 15%;
      left: 24%;
    }
    100% {
      top: 30%;
      left: 17%;
    }
  }
  section.main_parallax .main_camera {
    position: absolute;
    bottom: 23%;
    left: 17%;
    width: 19%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 4;
    animation-name: camera;
  }
  @keyframes camera {
    0% {
      bottom: 30%;
      left: 20%;
    }
    30%, 40% {
      bottom: 16%;
      left: 10%;
    }
    68%, 72% {
      bottom: 18%;
      left: 12%;
    }
    100% {
      bottom: 30%;
      left: 20%;
    }
  }
  section.main_parallax .main_boll1 {
    width: 4%;
  }
  section.main_parallax .main_ring_violet {
    width: 7%;
  }
  section.main_parallax .main_youtube {
    top: 26%;
    right: 16.3%;
    width: 22%;
  }
  @keyframes youtube {
    0% {
      top: 26%;
      right: 16.3%;
    }
    30%, 40% {
      top: 22%;
      right: 18%;
    }
    68%, 72% {
      top: 23%;
      right: 18%;
    }
    100% {
      top: 26%;
      right: 16.3%;
    }
  }
  section.main_parallax .main_boll2 {
    width: 3%;
  }
  section.main_parallax .main_ring {
    position: absolute;
    bottom: 25%;
    right: 12%;
    width: 12%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 4;
    filter: drop-shadow(-24px -10px 20px rgba(97, 9, 8, 0.174088));
    transform: rotate(-5deg);
    animation-name: ring;
  }
  @keyframes ring {
    0% {
      bottom: 25%;
      right: 12%;
    }
    30%, 40% {
      bottom: 28%;
      right: 15%;
    }
    68%, 72% {
      bottom: 29%;
      right: 17%;
    }
    100% {
      bottom: 25%;
      right: 12%;
    }
  }
  section.main_parallax .main_heart_violet {
    position: absolute;
    bottom: 17.8%;
    right: 32.8%;
    width: 4%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 4;
    mix-blend-mode: normal;
    opacity: 0.74;
    filter: blur(8.15485px);
    transform: rotate(-25deg);
    animation-name: heart_violet;
  }
  @keyframes heart_violet {
    0% {
      bottom: 17.8%;
      right: 32.8%;
    }
    30%, 40% {
      bottom: 19%;
      right: 29%;
    }
    50% {
      filter: blur(2px);
      opacity: 1;
      bottom: 17.8%;
      right: 27%;
    }
    68%, 72% {
      bottom: 15%;
      right: 29%;
      filter: blur(8.15485px);
      opacity: 0.74;
    }
    100% {
      bottom: 17.8%;
      right: 32.8%;
    }
  }
  section.main_parallax .main_note {
    position: absolute;
    bottom: 7.9%;
    left: 26.9%;
    width: 4.7%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 4;
    filter: drop-shadow(-24px -10px 20px rgba(97, 9, 8, 0.174088));
    animation-name: note;
  }
  @keyframes note {
    0% {
      bottom: 7.9%;
      left: 26.9%;
    }
    30%, 40% {
      bottom: 10%;
      left: 26.9%;
    }
    68%, 72% {
      bottom: 10%;
      left: 30%;
    }
    100% {
      bottom: 7.9%;
      left: 26.9%;
    }
  }
}

.clients {
  background: #ffecee;
  padding: 25px 3.8% 68px 3.8%;
  overflow: hidden;
  z-index: 11;
}
.clients .content {
  width: 100%;
  height: 100%;
  margin-top: -47px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8%;
  overflow: scroll;
}
.clients .content .content_left {
  width: 22%;
  top: 72px;
  position: sticky;
}
.clients .content .content_left h2 {
  font-family: ArchivoBlack, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #383030;
}
.clients .content .content_left p {
  margin-top: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #643C5A;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.clients .content .content_left a {
  margin-top: -9px;
  font-family: ArchivoBlack, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #D2132A;
  letter-spacing: 0.428571px;
  text-transform: uppercase;
  text-decoration: none;
}
.clients .content .content_right {
  margin-right: 14.4%;
  width: 48%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.clients .content .content_right .center {
  margin-top: 60px;
}
.clients .content .content_right .columns {
  width: calc((100% - 60px) / 3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 47px;
  position: relative;
}
.clients .content .content_right .columns .wrapper {
  position: absolute;
  width: 100%;
  background: #cc031c;
  z-index: 2;
  display: none;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  padding: 33px 24px;
}
.clients .content .content_right .columns .wrapper h3 {
  font-family: "ArchivoBlack", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
  letter-spacing: 0.428571px;
  text-transform: uppercase;
  text-align: center;
}
.clients .content .content_right .columns .wrapper div {
  margin-top: 35px;
  font-family: "ArchivoBlack", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #FFFFFF;
  letter-spacing: 0.714286px;
  text-transform: uppercase;
  text-align: center;
}
.clients .content .content_right .columns .wrapper a {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
  text-decoration: none;
}
.clients .content .content_right .columns .wrapper a img {
  width: 12px;
}
.clients .content .content_right .columns .wrapper .gear {
  position: absolute;
  width: 100%;
  left: 0;
  top: 43px;
  mix-blend-mode: normal;
  opacity: 0.3;
  filter: drop-shadow(-17px 22px 12px rgba(85, 9, 9, 0.320476));
}
.clients .content .content_right .columns .card1 {
  width: 100%;
  position: relative;
  cursor: pointer;
}
.clients .content .content_right .columns .card1:hover .wrapper {
  display: block;
}
.clients .content .content_right .columns .card1 .pic {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 12px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.clients .content .content_right .columns .card1 span {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #383030;
}
.clients .content .content_right .columns .card1 .xl {
  height: 260px;
}
.clients .content .content_right .columns .card1 .l {
  height: 243px;
}
.clients .content .content_right .columns .card1 .m {
  height: 197px;
  -o-object-position: 20% 50%;
     object-position: 20% 50%;
}
.clients .content .content_right .columns .card2 {
  width: 100%;
  height: 272px;
  cursor: pointer;
}
.clients .content .content_right .columns .card2 .dark {
  background: #000000;
}
.clients .content .content_right .columns .card2 .pink {
  background: #DA89C6;
}
.clients .content .content_right .columns .card2 .container {
  width: 100%;
  height: 243px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}
.clients .content .content_right .columns .card2 .container:hover .wrapper {
  display: block;
}
.clients .content .content_right .columns .card2 .container .full {
  height: 100%;
}
.clients .content .content_right .columns .card2 .container .inner_img {
  max-width: 147px;
  height: 139px;
}
.clients .content .content_right .columns .card2 span {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #383030;
}
.clients .content .content_right .yellow_boll {
  position: absolute;
  width: 137px;
  left: -76px;
  bottom: 76px;
  filter: drop-shadow(-24px 27px 17px rgba(128, 120, 110, 0.142401));
  z-index: 10;
}
.clients .content .content_right .bagel {
  position: absolute;
  width: 244px;
  left: -128px;
  top: -53px;
  filter: drop-shadow(-24px 27px 17px rgba(181, 103, 7, 0.142401));
  z-index: 10;
}
.clients .content .content_right .youtube2 {
  position: absolute;
  width: 148px;
  right: -95px;
  top: 319px;
  filter: drop-shadow(-24px 27px 17px rgba(93, 50, 49, 0.0836975));
  z-index: 10;
}

.do {
  background: #170119;
  padding: 25px 3.8% 68px 3.8%;
  overflow: hidden;
  z-index: 11;
}
.do .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.do .content .do_left {
  width: 40.5%;
}
.do .content .do_left h2 {
  font-family: "ArchivoBlack", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}
.do .content .do_left .item_block {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 9px;
       column-gap: 9px;
  row-gap: 7px;
}
.do .content .do_left .item_block .item {
  width: calc((100% - 18px) / 3);
  height: 174px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(100, 60, 90, 0.2);
  transition: all 0.5s 1s ease;
  position: relative;
}
.do .content .do_left .item_block .item .img_block {
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
  filter: drop-shadow(-15px 10px 20px rgba(20, 4, 24, 0.400514));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: inherit;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.do .content .do_left .item_block .item_hover {
  background: #B10217;
}
.do .content .do_left .item_block .item_hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(318.4deg, #B10217 8.31%, #DD041F 69.98%);
}
.do .content .do_left .item_block .item_hover .img_block {
  opacity: 0.8;
  filter: drop-shadow(-17px 22px 12px rgba(85, 9, 9, 0.320476));
  transition: none 1s 2s ease;
}
.do .content .do_left .item_block .gear_item:hover .img_block {
  background-image: url("../assets/img/gear.png");
}
.do .content .do_left .item_block .gear_item .img_block {
  background-image: url("../assets/img/gear_violet.png");
}
.do .content .do_left .item_block .gear_item_hover .img_block {
  background-image: url("../assets/img/gear.png");
}
.do .content .do_left .item_block .star2_item:hover .img_block {
  background-image: url("../assets/img/star2.png");
}
.do .content .do_left .item_block .star2_item .img_block {
  background-image: url("../assets/img/star2_violet.png");
  width: 70%;
  height: 70%;
}
.do .content .do_left .item_block .star2_item_hover .img_block {
  background-image: url("../assets/img/star2.png");
}
.do .content .do_left .item_block .graphic_item:hover .img_block {
  background-image: url("../assets/img/graphic.png");
}
.do .content .do_left .item_block .graphic_item .img_block {
  background-image: url("../assets/img/graphic_violet.png");
  width: 70%;
  height: 70%;
}
.do .content .do_left .item_block .graphic_item_hover .img_block {
  background-image: url("../assets/img/graphic.png");
}
.do .content .do_left .item_block .scale_item:hover .img_block {
  background-image: url("../assets/img/scale.png");
}
.do .content .do_left .item_block .scale_item .img_block {
  background-image: url("../assets/img/scale_violet.png");
  width: 70%;
  height: 70%;
}
.do .content .do_left .item_block .scale_item_hover .img_block {
  background-image: url("../assets/img/scale.png");
}
.do .content .do_left .item_block .video_item:hover .img_block {
  background-image: url("../assets/img/video.png");
}
.do .content .do_left .item_block .video_item .img_block {
  background-image: url("../assets/img/video_violet.png");
  width: 70%;
  height: 70%;
}
.do .content .do_left .item_block .video_item_hover .img_block {
  background-image: url("../assets/img/video.png");
}
.do .content .do_left .item_block .headphone2_item:hover .img_block {
  background-image: url("../assets/img/headphone2.png");
}
.do .content .do_left .item_block .headphone2_item .img_block {
  background-image: url("../assets/img/headphone2_violet.png");
  width: 70%;
  height: 70%;
}
.do .content .do_left .item_block .headphone2_item_hover .img_block {
  background-image: url("../assets/img/headphone2.png");
}
.do .content .do_right {
  width: 59.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.do .content .do_right .do_boll1 {
  position: absolute;
  top: 23%;
  left: 17%;
  width: 2.7%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  mix-blend-mode: normal;
  opacity: 0.48;
  filter: blur(6.7957px);
}
.do .content .do_right .do_boll1_animation {
  animation-duration: 3s;
  animation-name: boll1;
}
@keyframes boll1 {
  0% {
    top: 23%;
    left: 17%;
  }
  30% {
    top: 40%;
    left: 13%;
  }
  58%, 62% {
    top: 42%;
    left: 25%;
  }
  100% {
    top: 23%;
    left: 18%;
  }
}
.do .content .do_right .do_boll2 {
  position: absolute;
  top: 32%;
  right: 14%;
  width: 1.8%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  filter: blur(13.5914px);
}
.do .content .do_right .do_boll2_animation {
  animation-duration: 3s;
  animation-name: boll2;
}
@keyframes boll2 {
  0% {
    top: 32%;
    right: 14%;
  }
  30% {
    top: 45%;
    right: 9%;
  }
  58%, 62% {
    top: 45%;
    right: 23%;
  }
  100% {
    top: 32%;
    right: 14%;
  }
}
.do .content .do_right .do_heart {
  position: absolute;
  bottom: 28%;
  left: 19%;
  width: 7%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
  mix-blend-mode: normal;
  opacity: 0.74;
  filter: blur(8.15485px);
  transform: rotate(-25deg);
}
.do .content .do_right .do_heart_animation {
  animation-duration: 3s;
  animation-name: heart1;
}
@keyframes heart1 {
  0% {
    bottom: 28%;
    left: 19%;
  }
  30% {
    bottom: 18%;
    left: 29%;
  }
  58%, 62% {
    bottom: 28%;
    left: 35%;
  }
  100% {
    bottom: 27%;
    left: 19%;
  }
}
.do .content .do_right .do_block {
  width: 55%;
  height: 55%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.do .content .do_right .do_block .do_content {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.do .content .do_right .do_block .do_content span {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
  text-align: center;
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.do .content .do_right .do_block .do_content a {
  font-family: "ArchivoBlack", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  color: #D2132A;
  letter-spacing: 0.428571px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 2;
  cursor: pointer;
  margin-top: 8px;
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.do .content .do_right .do_block .do_target {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url("../assets/img/gear_hover.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 2s ease;
}
.do .content .do_right .do_block .do_gear_item {
  background-image: url("../assets/img/gear_hover.png");
  filter: drop-shadow(-15px 10px 20px rgba(20, 4, 24, 0.400514));
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.do .content .do_right .do_block .do_star2_item {
  background-image: url("../assets/img/star2_hover.png");
  filter: drop-shadow(-15px 10px 20px rgba(20, 4, 24, 0.400514));
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.do .content .do_right .do_block .do_graphic_item {
  background-image: url("../assets/img/graphic_hover.png");
  filter: drop-shadow(-15px 10px 20px rgba(20, 4, 24, 0.400514));
  transform: matrix(-0.94, -0.34, -0.34, 0.94, 0, 0);
}
.do .content .do_right .do_block .do_scale_item {
  background-image: url("../assets/img/scale_hover.png");
  filter: drop-shadow(-15px 10px 20px rgba(20, 4, 24, 0.400514));
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.do .content .do_right .do_block .do_video_item {
  background-image: url("../assets/img/video_hover.png");
}
.do .content .do_right .do_block .do_headphone2_item {
  background-image: url("../assets/img/headphone2_hover.png");
  filter: drop-shadow(-15px 10px 20px rgba(20, 4, 24, 0.400514));
  transform: matrix(-0.96, 0.29, 0.29, 0.96, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.team {
  background: #ffecee;
  padding: 25px 55px 191px 55px;
  position: relative;
  z-index: 12;
}
.team h2 {
  margin-top: -8px;
  text-align: center;
  font-family: "ArchivoBlack", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #383030;
  text-transform: uppercase;
}
.team .slider_block {
  margin-top: 4%;
  height: calc(91% - 86px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.team .slider_block .prev_block {
  width: 113px;
  padding-right: 3px;
  height: 74%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.team .slider_block .next_block {
  width: 113px;
  padding-left: 3px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 74%;
}
.team .slider_block .prev, .team .slider_block .next {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: #161415;
  text-transform: uppercase;
  cursor: pointer;
}
.team .slider_block .border_slide {
  background: #D2132A;
  color: white;
}
.team .slider_block .slider {
  width: calc(100% - 226px);
  height: 74%;
  position: relative;
  overflow: hidden;
}
.team .slider_block .slider .shift_block {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  transition: left 1s ease-in-out;
}
.team .slider_block .slider .team_card {
  height: 100%;
  width: 263px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.team .slider_block .slider .team_card:hover .hover_block {
  opacity: 0.9;
}
.team .slider_block .slider .team_card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}
.team .slider_block .slider .team_card .hover_block {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(313.37deg, rgba(177, 2, 23, 0.9) 10.23%, rgba(221, 4, 31, 0.9) 69.59%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team .slider_block .slider .team_card .hover_block h3 {
  font-family: "ArchivoBlack", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
  letter-spacing: 0.428571px;
  text-transform: uppercase;
}
.team .slider_block .slider .team_card .hover_block h4 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
}
.team .slider_block .note2 {
  position: absolute;
  width: 15.7vw;
  top: -15%;
  right: 18%;
  filter: drop-shadow(-24px 27px 17px rgba(93, 50, 49, 0.0836975));
  transform: rotate(-15deg);
  z-index: 3;
}
.team .slider_block .note2 {
  position: absolute;
  width: 15.7vw;
  top: -15%;
  right: 18%;
  filter: drop-shadow(-24px 27px 17px rgba(93, 50, 49, 0.0836975));
  transform: rotate(-15deg);
  z-index: 3;
}
.team .slider_block .red_boll {
  position: absolute;
  width: 11.2vw;
  bottom: 15%;
  left: 38px;
  filter: drop-shadow(-24px 27px 17px rgba(93, 50, 49, 0.0836975));
  z-index: 3;
}
.team .slider_block .bagel {
  position: absolute;
  width: 17vw;
  bottom: -96px;
  right: -15px;
  filter: drop-shadow(-24px 27px 17px rgba(181, 103, 7, 0.142401));
  z-index: 3;
}
.team footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.team footer .contact {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #170119;
  position: relative;
}
.team footer .contact:hover .red_block {
  right: 0;
  width: 100%;
}
.team footer .contact:hover a img {
  transform: rotate(45deg);
}
.team footer .contact .red_block {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: -100%;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(313.37deg, #B10217 10.23%, #DD041F 69.59%);
  z-index: 1;
}
.team footer .contact a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.team footer .contact a img {
  width: 28px;
  transition: all 0.5s ease-in-out;
}
.team footer .made {
  padding: 9px 55px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #170119;
}
.team footer .made .made_right {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.98;
}
.team footer .made .made_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Archivo;
}

.hide {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.panel {
  width: 100%;
  height: 100%;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .floaat {
  width: 86px;
  height: 26px;
  -o-object-fit: contain;
     object-fit: contain;
  fill: #D2132A;
}
header .right_head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
header .right_head span {
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: #FFEFF6;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
header .right_head span:hover {
  color: #D2132A;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
header .right_head .menu {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .right_head .menu img {
  width: 18px;
  height: 18px;
  mix-blend-mode: normal;
  opacity: 0.95;
}
header .white span {
  color: #161415;
}
header .white .menu {
  background: white;
}